.column {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 900px;
    margin-top: 50px;
  }
  .column > div > span {
    padding:20px;
    display:inline-block;
    min-width: 110px;
    border: 2px solid;
    border-bottom: 0;
    border-right: 0;
    font-weight: 100;
  }

  .column> div:nth-child(2) > span{
    font-weight: 500;
  }

  .column> div > span:last-child {
    border-right: 2px solid;
  }
  .column> div:last-child > span {
    border-bottom: 2px solid;
    /* font-weight: 400; */
  }
